//
// Settings
//

$global__spacing-unit: 10px;

$global__font-size: 14px;

$global__color: #333333;
$global__background-color: #f2f2f2;

$content-table__width: 600px;
$content-table__background-color : #ffffff;
