//
// Objects - Layout
//

.o-background-table {
  width: 100%;
  background-color: $global__background-color;
}

.o-content-table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: $content-table__background-color;
}
.o-container {

}
.o-col {
  width: 100%;
}
.o-col--1 {
  max-width: ($content-table__width/4) - 25px/2;
}

.o-col--3 {
  max-width: ($content-table__width/4)*3 - 25px/2;
}
