$debug-mode : true;

$debug-elements : (
  table:false,
  tr: false,
  td: true
);
$debug-colors : (
  table:#f4855d,
  tr: #b6527f,
  td:#f17665,
);

@if($debug-mode){
  @each $element, $status in $debug-elements {
    @if($status){
      #{$element} {
        outline: solid 1px #{map-get($debug-colors, $element)};
      }
    }
  }
}
