//-html

-var title = 'Document Title';

include includes/mixins.pug

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title=title
    link(href="css/style.css" type="text/css" rel="stylesheet")
    
  body(yahoo)
    //- background-table
    table(class="o-background-table" border="0" cellspacing="0" cellpadding="0")
      +verticalSpacing(4)
      tr
        td
          
          //-content
          table(class="o-content-table" border="0" cellspacing="0" cellpadding="0" align="center")
            tr
              td
                //- header
                table(class="o-col c-header u-border-bottom" border="0" cellspacing="0" cellpadding="0" align="center")
                  +verticalSpacing(2)
                  tr
                    +horizontalSpacing(4)
                    td
                      img(src="img/ioe-urjc.png" alt="IOE Business School")
                    +horizontalSpacing(4)
                  +verticalSpacing(2)
                //- /header
            +verticalSpacing(2,1)
            tr
              td
                //- text
                table(class="o-col c-text" border="0" cellspacing="0" cellpadding="0" align="center")
                  tr
                    +horizontalSpacing(4)
                    td
                      p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    +horizontalSpacing(4)
                  +verticalSpacing(2)
                //- /text  
            tr
              td
                //- wide-image
                a(href="#")
                  img(class="c-wide-image" src="img/wide_alt.jpg" width="100%" height="auto" alt="")
                //- /wide-image
                
            +verticalSpacing(2,1)
            
            tr
              td
                //- text
                table(class="o-col c-text" border="0" cellspacing="0" cellpadding="0" align="center")
                  tr
                    +horizontalSpacing(4)
                    td
                      h2 Title 3
                    +horizontalSpacing(4)
                  +verticalSpacing
                  tr
                    +horizontalSpacing(4)
                    td
                      p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    +horizontalSpacing(4)
                  +verticalSpacing(2)
                //- /text  
            
            tr
              td
                //- col
                table(class="o-col o-col--1" border="0" cellspacing="0" cellpadding="0" align="left")
                  tr
                    +horizontalSpacing(4)
                    td
                      img(src="img/icon.png" alt="icon" width="90")
                  +verticalSpacing(2)
                //- /col
                //- col
                table(class="o-col o-col--3" border="0" cellspacing="0" cellpadding="0" align="left")
                  tr
                    +horizontalSpacing(2)
                    td
                      h2.
                        Fluid design HTML Email
                    +horizontalSpacing(2)
                  +verticalSpacing(1)
                  tr
                    +horizontalSpacing(2)
                    td
                      p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a class="u-underline" href="">Duis aute irure</a> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    +horizontalSpacing(2)
                  +verticalSpacing(2)
                  tr
                    +horizontalSpacing(2)
                    td
                      a(href="#")
                        table(class="c-button" border="0" cellspacing="0" cellpadding="0")
                          +verticalSpacing(1)
                          tr
                            +horizontalSpacing(2)
                            td
                              |Read more
                            +horizontalSpacing(2)
                          +verticalSpacing(1)
                    +horizontalSpacing(2)
                  +verticalSpacing(2)
                //- /col
                
            tr
              td
                //- rule
                table(class="o-col" border="0" cellspacing="0" cellpadding="0" align="center")
                  tr
                    +horizontalSpacing(8)
                    td(class="c-rule") &nbsp;
                    +horizontalSpacing(8)
                //- /rule
                
            tr
              td
                //- o-col--2
                table(class="o-col o-col--3" border="0" cellspacing="0" cellpadding="0" align="left")
                  +verticalSpacing(2)
                  tr
                    +horizontalSpacing(2)
                    td.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur <a class="u-underline" href="">unsubscribe</a>. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    +horizontalSpacing(2)
                  +verticalSpacing(2)
                //- o-col--2
                
                //- o-col--2
                table(class="o-col o-col--1" border="0" cellspacing="0" cellpadding="0" align="left")
                  +verticalSpacing(2)
                  tr
                    +horizontalSpacing(2)
                    td.
                      Lorem ipsum dolor sit amet.
                    +horizontalSpacing(2)
                  +verticalSpacing(2)
                //- o-col--2
                
            tr
              td
                //- footer
                table(class="o-col c-footer" border="0" cellspacing="0" cellpadding="0")
                  +verticalSpacing(2)
                  tr
                    +horizontalSpacing(2)
                    td.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur <a class="c-footer__link" href="">unsubscribe</a>. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        
                    +horizontalSpacing(2)
                  +verticalSpacing(2)
                //- footer    
                
          //- /content  
      
      +verticalSpacing(4)        
    //- /background-table
  
  //- /body
//- /html
