//
// Utilities
//

@for $i from 1 through 6 {
  .u-height--#{$i} {
    height: $global__spacing-unit*$i;
    line-height: 0;
  }
}

@for $i from 1 through 6 {
  .u-width--#{$i} {
    width: $global__spacing-unit*$i;
  }
}

.u-fullwidth {
  width: 100%;
}
