@charset "UTF-8";


// Settings
@import "01_settings/settings.config.scss";
// Tools
@import "02_tools/tools.debug.scss";
// Generic
@import "03_generic/generic.normalize.css";
// elements
@import "04_elements/elements.global.scss";
// Objects

// Components

// Utilities
@import "07_utilities/utilities.scss";

//
// Objects

.background-table {
  width: 100%;
  background-color: $global__background-color;
}

.content-table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: $content-table__background-color;
}
